### RUL Target Computation

In [1]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [2]:
import pandas as pd
import numpy as np

In [5]:
import numpy as np
import pandas as pd
import os

# 1. Load rolling window sequences (local path)
data_path = r"D:\ProgonsAI\milestone_2\week_3\Day_10"
file_name = "rolling_window_sequences.npy"

file_path = os.path.join(data_path, file_name)

if os.path.exists(file_path):
    sequences = np.load(file_path)
    print(f"Loaded rolling window sequences with shape: {sequences.shape}")
else:
    print(f" File not found at: {file_path}")

Loaded rolling window sequences with shape: (152559, 30, 66)

In [7]:
file_path = r"D:\ProgonsAI\milestone_2\week_3\Day_10\sequence_metadata.csv"

if os.path.exists(file_path):
    metadata_df = pd.read_csv(file_path)
    print(f"Loaded sequence metadata with shape: {metadata_df.shape}")
    display(metadata_df.head())  
else:
    print(f"File not found at: {file_path}")

Loaded sequence metadata with shape: (152559, 2)

   engine_id  cycle
0          1    8.0
1          1    8.0
2          1    9.0
3          1    9.0
4          1    9.0

In [8]:
# 3. Calculate Remaining Useful Life (RUL) per sequence

# Find the maximum cycle for each engine_id
max_cycle_per_engine = metadata_df.groupby('engine_id')['cycle'].max().reset_index()
max_cycle_per_engine.rename(columns={'cycle': 'max_cycle'}, inplace=True)
metadata_df = metadata_df.merge(max_cycle_per_engine, on='engine_id', how='left')
metadata_df['RUL'] = metadata_df['max_cycle'] - metadata_df['cycle']

print("Calculated Remaining Useful Life (RUL) for each sequence.")
print("\nSample output:")
print(metadata_df.head())

print("\nRUL Statistics:")
print(metadata_df['RUL'].describe())

Calculated Remaining Useful Life (RUL) for each sequence.

Sample output:
   engine_id  cycle  max_cycle    RUL
0          1    8.0      321.0  313.0
1          1    8.0      321.0  313.0
2          1    9.0      321.0  312.0
3          1    9.0      321.0  312.0
4          1    9.0      321.0  312.0

RUL Statistics:
count    152559.000000
mean        164.230206
std          94.149062
min           0.000000
25%          93.000000
50%         157.000000
75%         224.000000
max         527.000000
Name: RUL, dtype: float64

In [12]:
# Merge max cycle info with metadata
max_cycle_per_engine = max_cycle_per_engine.rename(columns={'max_cycle': 'max_cycle_new'})
metadata_df = metadata_df.merge(max_cycle_per_engine, on='engine_id', how='left')

In [13]:
# Compute RUL
metadata_df['RUL'] = metadata_df['max_cycle'] - metadata_df['cycle']

In [14]:
metadata_df.head()

   engine_id  cycle  max_cycle_x    RUL  max_cycle_y  max_cycle  max_cycle_new
0          1    8.0        321.0  313.0        321.0      321.0          321.0
1          1    8.0        321.0  313.0        321.0      321.0          321.0
2          1    9.0        321.0  312.0        321.0      321.0          321.0
3          1    9.0        321.0  312.0        321.0      321.0          321.0
4          1    9.0        321.0  312.0        321.0      321.0          321.0

In [15]:
# Optional: Cap RUL values
# rul_cap = 130
# metadata_df['RUL'] = metadata_df['RUL'].clip(upper=rul_cap)

# Drop max_cycle column if not needed further
metadata_df.drop(columns=['max_cycle'], inplace=True)

metadata_df.head()

   engine_id  cycle  max_cycle_x    RUL  max_cycle_y  max_cycle_new
0          1    8.0        321.0  313.0        321.0          321.0
1          1    8.0        321.0  313.0        321.0          321.0
2          1    9.0        321.0  312.0        321.0          321.0
3          1    9.0        321.0  312.0        321.0          321.0
4          1    9.0        321.0  312.0        321.0          321.0

In [16]:
# 4. Validate by inspecting example engine(s)
engines_to_check = metadata_df['engine_id'].unique()[:3]  # first 3 engines
for engine in engines_to_check:
    sample = metadata_df[metadata_df['engine_id'] == engine][['cycle', 'RUL']]
    print(f"\nEngine {engine} - Cycles and RULs:")
    print(sample.head(10))
    print(sample.tail(10))

Engine 1 - Cycles and RULs:
   cycle    RUL
0    8.0  313.0
1    8.0  313.0
2    9.0  312.0
3    9.0  312.0
4    9.0  312.0
5    9.0  312.0
6   10.0  311.0
7   10.0  311.0
8   10.0  311.0
9   10.0  311.0
     cycle  RUL
881  312.0  9.0
882  313.0  8.0
883  314.0  7.0
884  315.0  6.0
885  316.0  5.0
886  317.0  4.0
887  318.0  3.0
888  319.0  2.0
889  320.0  1.0
890  321.0  0.0

Engine 2 - Cycles and RULs:
     cycle    RUL
891    8.0  291.0
892    8.0  291.0
893    9.0  290.0
894    9.0  290.0
895    9.0  290.0
896    9.0  290.0
897   10.0  289.0
898   10.0  289.0
899   10.0  289.0
900   10.0  289.0
      cycle  RUL
1959  290.0  9.0
1960  291.0  8.0
1961  292.0  7.0
1962  293.0  6.0
1963  294.0  5.0
1964  295.0  4.0
1965  296.0  3.0
1966  297.0  2.0
1967  298.0  1.0
1968  299.0  0.0

Engine 3 - Cycles and RULs:
      cycle    RUL
1969    8.0  299.0
1970    8.0  299.0
1971    9.0  298.0
1972    9.0  298.0
1973    9.0  298.0
1974    9.0  298.0
1975   10.0  297.0
1976   10.0  297.0
1977   10.0  297.0
1978   10.0  297.0
      cycle  RUL
2843  298.0  9.0
2844  299.0  8.0
2845  300.0  7.0
2846  301.0  6.0
2847  302.0  5.0
2848  303.0  4.0
2849  304.0  3.0
2850  305.0  2.0
2851  306.0  1.0
2852  307.0  0.0

In [20]:
metadata_df.to_csv(r"D:\ProgonsAI\milestone_2\week_3\Day_11\sequence_metadata_with_RUL.csv", index=False)
print("Saved updated metadata with RUL as 'sequence_metadata_with_RUL.csv'")

Saved updated metadata with RUL as 'sequence_metadata_with_RUL.csv'

**Process Steps:**  
- Loaded rolling window feature sequences from 'rolling_windows_feature.npy'.  
- Loaded sequence metadata from 'sequence_metadata.csv' including engine and cycle identifiers.  
- Computed Remaining Useful Life (RUL) for each sequence as the difference between
  maximum cycle for the engine and the current cycle.  
- Optionally applied RUL capping at 130 to stabilize regression targets.  
- Saved updated metadata including RUL targets for downstream model training.

**Outputs:**  
- Rolling window sequences (NumPy array) ready for modeling.  
- Updated sequence metadata with assigned RUL targets.  

**Next Steps:**  
- Use these datasets for training and evaluating LSTM/GRU predictive models for RUL.  

---

1) rul was computed for each engine sequence by subtracting the current cycle number from the maximum cycle of that engine

2) metadata file now includes an addional column RUL,representing the degradation stage of each engine

3) To stabilize the training process and avoid large target variance, rul values were capped at 130 cycles

4) resulting dataset provides a direct mapping between feature sequences (from Day 10) and their corresponding RUL targets,making it ready for supervised learning

5) updated metadata with RUL values was successfully saved for modeling tasks like LSTM/GRU based RUL prediction